/*ogolne ustawienia*/
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}


body, html{
	background-image: url(Thin-Art-fabric-bookshelf-backdrops-photography-background-library-backdrop-for-photo-studio-D-1489.jpg_640x640.jpg) ;	
	
}

/*ustawienie okna czatu*/
.chatbox {
	width: 500px;
	min-width: 390px;
	height: 630px;
	background-image: url(e02a63a5c4775e9a0497e5cc99ce91f5.jpg);
	background-size: 100%;
	padding: 25px;
	margin: 20px auto;
	border: 3px solid black;
    border-radius: 3px;
	
}

.messages{
	padding: 10px;
	width: 100%;
	height: 450px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.messages::-webkit-scrollbar{
	width: 10px;
}

.messages::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0,0,0,.1);
}

.chat{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}

.chat .user-photo{
	width: 60px;
	height: 60px;
	background: #ccc;
	border-radius: 50%;
	overflow: hidden;
	border: 1.5px solid black;
}

.chat .user-photo img{
	width: 100%
}

.chat .message1{
	width: 80%;
	padding: 15px;
	margin: 5px 10px 0;
	border-radius: 10px;
	color: #fff;
	font-size: 15px;
}

.bot .message1{
	background: #edc31d; 
	border: 1.5px solid black;
	color: black;
	font-weight: bold;

}

.user .message1{
	background: #492b03;
	order: -1;
	border: 1.5px solid black;
}

.bottom{
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
}	

.bottom textarea{
	background: #fbfbfb;
	width: 75%;
	height: 50px;
	border: 1px solid #000;
	border-radius: 3px;
	resize: none;
	padding: 10px;
	font-size: 15px;
	border-radius: 5px;
	border: 1.5px solid black;

}

.bottom textarea:focus{
	background: #fff;
}

.bottom button{
	background: #492b03;
	color: #fff;
	font-size: 20px;
	padding: 14px 15px;
	border: none;
	margin: 0 15px;
	border-radius: 5px;
	border: 1.5px solid black;
}

.bottom button:hover,
.rate:hover{
	background: #edc31d;
	color: black;
}

.rate{
	background: #492b03;
	color: #fff;
	font-size: 14px;
	padding: 10px 10px;
	border: none;
	border-radius: 5px;
	border: 1.5px solid black;
	width: 100%;
}


